
wandb/
__pycache__/

ckpts/

*.pkl

train_eval_models/plots/

train_eval_models/scripts_to_run.txt

latex_files/


captions/
captions/*.csv
captions.zip


splits/
splits.zip

embeddings/
embeddings.zip

battles/
battles.zip

MolCapArena.egg-info/
plots/

lightning_logs/


